@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: monospace; */

}

body{
    margin: 0;
    padding: 0;
    color: #444;
    background: #8bfc90;
    background-color: #070416;
}

p{
    font-size: 1.1rem;
}
.container{
    margin: 0 auto;
    max-width: 1000px;
    padding:40px;
}

.title{
    text-align: center;
    font-size: 1.9rem;
    color: #1ed14b;
    font-weight: 900;
}
